.navbar {
    
    background-color:black;
    opacity: 1;
    
    width: 100%;
  }
 
.home-content{
    margin-left: 700px;
}
.secrect{
    border: solid;
}


  .home-content a {
    float: left;
   
    justify-content: space-evenly;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li{
      float: left;
      padding-right: 80%;
  }

.ha:hover{
    color: rgb(242, 82, 28);
    text-decoration: none;
}

#logo {
    display: inline-block;
    vertical-align: top;
    width: 4.2em;
    height: 2.8em;
    padding: 0px;
    margin: 0px;    /* if you want it vertically middle of the navbar. */
    /* float:left; */
  }

#sec{
    background-image: url('./img/burger.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2000px 2600px;
    
}
#loc{
    padding-left: 5%;
}
.food {
    padding-left:8px;
}
.favorite{
    padding-left: 600px;
}
.footer{
    padding-left: 5%;
}
#about{
    display: none;
}
#contact{
    display: none;
}
#payment{
    display: none;
}
#card{
    width:100%;
    background-color: orange;
}
/* .col-md-6{
    width: 30;
}
.work-1 .work-2 .work-3 .work-4{
  position: relative;
}
.work-5 .work-6 .work-7 .work-8{
  position: relative;
} */

  /* .image {
    display: block;
    width: 100%;
    height: auto;
  }
#text1 #text2 #text3 #text4{
  display: none;
}#text5 #text6 #text7 #text8{
  display: none;
} */

.overlay{
  background-color: black;
  opacity: 0.7;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 90%;
  
  

}
